.contactWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-basis: calc((100% - 24px) / 2);
  @media screen and (min-width: 950px) {
    flex-basis: calc((100% - 48px) / 3);
  }
  @media screen and (min-width: 1400px) {
    flex-basis: calc((100% - 72px) / 4);
  }
  
  border: 1px solid grey;
  border-radius: 20px;
  transition: all 0.2s ease-in;

  &:hover {
    border-color: purple;
  }

  &:hover .iconPhone {
    fill: purple;
  }
  &:hover .phone {
    color: purple;
  }
}

.textWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.phone {
font-size: 14px;
margin: 0;
display: flex;
align-items: center;
transition: all 0.2s ease-in;

}

.icon {
  fill: #000;
  margin-right: 5px;
  transition: all 0.2s ease-in;
}

.button {
  /* max-height: 50%; */
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  margin: auto 0;
  &:hover,
  &:focus {
    background-color: purple;
    outline: none;
  }
}